html, body {
	margin: 0px;
	height: 100%;
	width: 100%;
	background-color: #222;
	font-family: "Rockwell", "Helvetica Neue";
	color: white;
}

img {
	border: none;
}

#header {
	padding-top: 70px;
}

#footer {
	padding: 30px;
	color: white;
	font-size: 0.7em;
	opacity: 0.5;
}

.page-block {
	display: block;
	position: relative;
	margin: 0px;
}

.container {
	display: block;
	position: relative;
	margin: auto;
	max-width: 120ch;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 32px;
	padding-right: 32px;
	text-align: center;
}

.logo {
	margin: auto;
	display: block;
	padding-bottom: 40px;
}

h1 {
	display: block;
	margin: 0px;
	padding: 16px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 1.5;
}

h2 {
	display: block;
	margin: 0px;
	padding: 8px;
	text-align: center;
	font-size: 1.5em;
	font-weight: normal;
}

.subtitle {
	display: block;
	padding: 16px;
	opacity: 0.6;
	font-size: 17px;
	line-height: 1.5;
}

.clip, .clip-placeholder {
	display: inline-block;
	width: 300px;
	margin: 12px;
	vertical-align: top;
}

.clip .video {
	background-color: #000;
	display: block;
	width: 300px;
	height: 300px;
}

.clip .metadata {
	display: block;
	padding-top: 12px;
	font-size: 14px;
}

.clip .metadata span {
	display: block;
	text-align: left;
	margin: 4px;
}

.clip .metadata .trick {
	font-weight: bold;
	margin-bottom: 12px;
	font-size: 20px;
}

.clip .metadata .filmer {
	color: #ccc;
}

.clip .metadata .location {
	color: #999;
}

#tricks .trick {
	border-radius: 20px;
	background-color: #156e84;
	display: inline-block;
	margin: 6px;
	padding: 12px 20px 6px 20px;
}

#skaters .skater {
	border-radius: 20px;
	background-color: #883112;
	display: inline-block;
	margin: 6px;
	padding: 12px 20px 6px 20px;
}

#filmers .filmer {
	border-radius: 20px;
	background-color: #666;
	display: inline-block;
	margin: 6px;
	padding: 12px 20px 6px 20px;
}

#locations .location {
	border-radius: 20px;
	background-color: #000;
	display: inline-block;
	margin: 6px;
	padding: 12px 20px 6px 20px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}